.back-animals{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.back-card-animals{
    margin: 20px;
}

.animal-list{
    list-style-type: none;
	display: flex;
	flex-wrap: wrap;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    width: 70%;
}