.card{
    display: flex;
    flex-direction: column;
}

.card-image{
    border-radius: 50px;
    width: 260px;
    height: 260px;
    object-fit: cover;
}

.card-name {
    border-radius: 50px;
    width: 260px;
    font-size: 48px;
    font-weight: 700;
    background-color: #F0F0D8;
    margin: 0.4em 0 0;
}