.container {
    background-color: #007878;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 50px auto;
}
  
.titulo {
    text-align: center;
    margin-bottom: 20px;
}
  
.campo {
    margin-bottom: 10px;
}

div.metade {
    width: 50% !important;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
  
select {
    width: 100%;
    padding: 5px;
}
  
button[type="submit"] {
    background-color: #fff;
    color: #007878;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}